<div class="spreaders-hr-index">
    <h2>Расклейщики</h2>
    <div class="buttons-case">
        <a href="/spreaders/add" class="btn btn-default">Добавить расклейщика</a>
    </div>
    <table class="table table-striped">
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Телефон</th>
            <th>Район проживания</th>
            <th>Закрепленная территория</th>
            <th>Файлы</th>
        </tr>
        <tr>
            <td>Иван</td>
            <td>Петров</td>
            <td>+7 (926) 142-62-42</td>
            <td><a href="#">м.Сокольники</a></td>
            <td><a href="#">м.Сокольники</a></td>
            <td><a href="#">Просмотр</a></td>
        </tr>
    </table>
</div>
