<div class="spreaders-hr-index">
    <h2>Расклейщики</h2>
    <div class="buttons-case">
        <a href="/spreaders/add" class="btn btn-default">Добавить расклейщика</a>
    </div>
    <table class="table table-striped">
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Телефон</th>
            <th>Район проживания</th>
            <th>Закрепленная территория</th>
            <th>Файлы</th>
        </tr>
        <?php foreach ($data as $data): ?>
            <tr>
                <td><?=$data['first_name']?></td>
                <td><?=$data['second_name']?></td>
                <td><?=$data['phone']?></td>
                <td><a href="#"><?=$data['home_adress']?></a></td>
                <td><a href="#"><?=$data['area']?></a></td>
                <td><a href="#">Просмотр</a></td>
            </tr>
        <?php endforeach; ?>
    </table>
</div>
