<li <?php if ($routes[1] == 'orders' || $routes[1] == null) echo 'class="active"'; ?>><a href="/orders/index">Заявки <span class="sr-only">(current)</span></a></li>
<li <?php if ($routes[1] == 'users' & $routes[2] != 'spreaders') echo 'class="active"'; ?>><a href="/users/index">Пользователи </a></li>
<li <?php if ($routes[1] == 'calls') echo 'class="active"'; ?>><a href="/calls/index">Звонки </a></li>
<li <?php if ($routes[1] == 'shedule') echo 'class="active"'; ?>><a href="/shedule/index">График </a></li>
<li <?php if ($routes[1] == 'news') echo 'class="active"'; ?>><a href="/news/index">Новости </a></li>
<li <?php if ($routes[2] == 'spreaders') echo 'class="active"'; ?>><a href="/users/spreaders">Расклейщики </a></li>