.auth {
    margin-top: 5%;
}
.auth_body {
    background-color: #ededed;
}
.buttons-case {
    margin-bottom: 20px;
}
h2 {
    margin-bottom: 30px;
    font-weight: bold;
}

.menu_for_site li {
    line-height: 3em;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

table .checkbox {
    margin: 0;
    display: inline;
}

.users-all-sort {
    margin-right: 5px;
}

.main_menu {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0;
}
.main_menu li {
    font-size: 16px;
    list-style: none;
    line-height: 2.5em;
}
.modal-content {
    padding: 20px 20px 20px 60px;
}