.auth {
    margin-top: 5%;
}
.auth_body {
    background-color: #ededed;
}
.buttons-case {
    margin-bottom: 20px;
}
h2 {
    margin-bottom: 30px;
    font-weight: bold;
}

.menu_for_site li {
    line-height: 3em;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.btn-sm {
    margin-bottom: 5px;
}

.margin_top {
    margin-top: 5px;
}
.sort_block {
    background-color: #ededed;
    margin-bottom: 10px;
    border-radius: 5px;
}
.right_button_block {
    padding-top: 10px;
    text-align: right;
}
.btn_href {
    border: none;
    padding: 0;
    background-color: transparent;
    color: #0e84b5;
    font-size: 14px;
}
.btn_href:hover {
    color: #1c4e63;
    text-decoration: underline;
}
table .checkbox {
    margin: 0;
    display: inline;
}

.users-all-sort {
    margin-right: 5px;
}

.main_menu {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0;
}
.main_menu li {
    font-size: 16px;
    list-style: none;
    line-height: 2.5em;
}
.modal-content {
    padding: 20px 20px 20px 60px;
}