<!DOCTYPE html>
<?php $routes = explode('/', $_SERVER['REQUEST_URI']); ?>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CRM</title>

    <!-- Bootstrap -->
    <link href="/views/template/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/views/template/css/style.css" rel="stylesheet">
    <link href="/lib/calendar/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">CRM Round Service</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <?php include($menu); ?>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Настройки <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Моя профиль</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Статистика</a></li>
                    </ul>
                </li>
                <li><a href="/auth/logout">Выйти</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">

    <div class="col-sm-2">
        <ul class="menu_for_site row list-unstyled">
            <?php include($menu); ?>
        </ul>
    </div>
    <div class="col-sm-10">
        <?php include($path); ?>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="/views/template/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="/views/widgets/jquery.maskedinput.min.js"></script>
<script type="text/javascript" src="/lib/calendar/dist/js/datepicker.min.js"></script>
<script type="text/javascript" src="/views/template/js/shedule.js"></script>
<script type="text/javascript" src="/views/template/js/showStatusFields.js"></script>
<script type="text/javascript" src="/views/template/js/finalReport.js"></script>
<script type="text/javascript" src="/views/template/js/setRouting.js"></script>
<script type="text/javascript" src="/views/template/js/ordersSorting.js"></script>
</body>
</html>